<!DOCTYPE html>
<!-- 这行声明了文档类型，告诉浏览器这是一个HTML5文档 -->

<html lang="en">
<!-- <html> 标签是一个HTML页面的根元素，lang属性定义了文档的主要语言为英文 -->

    <head>
    <!-- <head> 标签包含了文档的元数据（metadata），比如编码、标题、链接到样式表和脚本等 -->

        <meta charset="UTF-8">
        <!-- <meta> 标签定义了文档的字符编码，这里是“UTF-8”，它包括了世界上大多数字符和符号 -->

        <title>我的第一个网站</title>
        <!-- <title> 标签定义了浏览器工具栏上显示的页面标题，也是搜索引擎结果中的标题 -->

    </head>
    <body>
    <!-- <body> 标签包含了可见的页面内容，比如文本、图片、链接、表格、列表等 -->

        <h1>Hello world!</h1>
        <!-- <h1> 标签是最高级别的HTML标题，表示页面中最重要的标题或者重点内容 -->

    </body>
</html>
<!-- 最后的</html>标记表示HTML文档的结束 -->
